{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Unbabel Backend Coding Challenge</h1>
{% if form %}
{{ wtf.quick_form(form) }}
<br>
{% endif %}

<table class="table table-hover">
    <thead class="thead-light">
        <th>English Text</th>
        <th>Spanish Text</th>
    </thead>

    <tbody>
        {% for translation in translations %}
        {% include '_post.html' %}
        {% endfor %}
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var source = new EventSource("{{ url_for('sse.stream') }}");
    source.addEventListener('sse', function (event) {
        var data = JSON.parse(event.data);
    }, false);
    source.addEventListener('error', function (event) {
        print("Failed to connect to event stream.");
    }, false);
</script>
{% endblock %}
