version: '2.1'

services:
  postgres:
    restart: always
    image: postgres:10
    #env_file:
      #- .env
    environment:
      - POSTGRES_USER=psql
      - POSTGRES_PASSWORD=psql
      - POSTGRES_DB=unbabel
    ports:
      - "5432"

  redis:
    restart: always
    image: redis

  app:
    restart: always
    build: .
    ports:
      - 5000:5000
    volumes:
      - .:/src
    depends_on:
      - postgres
      - redis
    entrypoint: ["python", "challenge.py"]
