{% extends "base.html" %}

{% block content %}
<h1>Translate form English to Spanish</h1>

{% include "form.html" %}

{% for translation in translations %}
<div>
    {% if translation.status == "new" %}
    <p>{{ translation.text }} -> new</br></p>
    {% elif translation.status == "pending" %}
    <p>{{ translation.text }} -> pending</br></p>
    {% elif translation.status == "finished" %}
    <p>{{ translation.text }} -> {{ translation.translated_text }}</br></p>
    {% endif %}
</div>

{% endfor %}
{% endblock %}
